body {
  background: linear-gradient(45deg, rgb(40, 2, 40), black); /* Adjusted for clarity */
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

#header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  position: relative;
  padding: 20px; /* Add some padding to create space around the content */
  z-index: 100;
}

.separator {
  border: 0;
  height: 1px;
  background:white;
  margin: 20px 0;
}

#logo {
  width: 100px;
  height: auto;
}

#text-container {
  position: relative;
  overflow: hidden;
  width: 100%; /* Full width for the text container */
  height: 120px; /* Increased height */
  margin-left: 20px;
  margin-bottom: 2px solid black;
}

#headp {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
  white-space: nowrap;
  position: absolute;
  top: 40px; /* Moved down */
  animation: moveAcross 10s linear infinite;
}

@keyframes moveAcross {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  padding: 15px 0;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #472781;
  font-size: 30px;
}

.navbar a.active {
  color: #472781;
}

h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0;
  text-decoration: underline;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 10px rgba(240, 82, 228, 0.8);
  animation: glow 1s ease-in-out infinite alternate;
}

#admission, #eligibility {
  width: 80%;
  margin: 0 auto 30px;
  padding: 20px;
  background-color: rgb(33, 6, 33); /* Semi-transparent background color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(84, 2, 84);
  text-align: left;
}

#admission h3, #eligibility h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

#admission p, #eligibility p {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

#footer {
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  padding: 20px;
  text-align: center;
}

#footer-address p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(240, 82, 228, 0.8);
  }
  to {
    text-shadow: 0 0 20px rgba(240, 82, 228, 0.9);
  }
}

.back {
  width: 100%;
  height: 100%;
}
